body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  width: 75%;
  margin: auto;
  padding: 2rem;
}

button {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: transparent;
}

button:hover {
  background-color: black;
  color: white;
}

.header {
  padding-left: 0.7rem;
}

.item {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid black;
  padding: 1rem;
  line-height: 2rem;
  margin: 1rem;
  text-align: left;
  border-radius: 1rem;
}
a {
  margin: 1rem;
  text-decoration: none;
  color: blue;
}

a:hover {
  background-color: yellow;
  color: green;
  text-decoration: underline;
}

table {
  margin: 2rem;
  padding: 2rem;
}

tr {
  padding: 2rem;
}
